{% extends "base.html" %}

{% block title %}Simplue | 论坛{% endblock %}

{% block import %}
    <link rel="stylesheet" href="/static/css/forum_index.css">
    <script src="/static/js/forum_index.js"></script>

{% endblock %}

{% block container %}
    <div class="container ">


        <div class="topic-nav border-std shadow">
            <div class="topic-nav-header">
                <img src="http://oexqautw4.bkt.clouddn.com/static/img/forum_nav.png"
                     class="img-nav">
            </div>
            <div class="topic-nav-cells">
                {% for n in Node.query.filter_by(parent_id=0) %}
                    <div class="row topic-nav-item">
                        <div class="col-xs-2 parent-board" data-id="{{ n.id }}">
                            <a href="{{ url_for('forum.board', nodename=n.name) }}">•&nbsp;{{ n.show_name }}</a>
                        </div>

                        <div class="col-xs-9 row child-board">
                            {% for c in Node.query.filter_by(parent_id=n.id) %}
                                <div class="col-xs-2">
                                    <a href="{{ url_for('forum.board', nodename=c.name) }}"
                                       data-id="{{ c.id }}">••&nbsp;{{ c.show_name }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if node == 'fuckbug' %}
            <div class="advice-bug border-std shadow row">
                <img class="col-xs-1 "
                     src="http://oexqautw4.bkt.clouddn.com/static/img/lovebug2.jpg"
                     style="width: 150px">
                <div class="col-xs-8 goodnews">
                    <h3 class="text-center" style="font-weight: bold;color:red">好消息! 好消息!</h3>
                    <p class="text-center" style="font-weight: bold;color:red">即日起提交臭虫和反馈,
                        就有机会帮管理员灭虫,
                        你还犹豫什么?! 赶紧拿起手中的键鼠测试吧!</p></div>
                <img class="col-xs-1 " src="http://oexqautw4.bkt.clouddn.com/static/img/lovebug.jpg"
                     style="width: 150px">
            </div>
            <a class="btn btn-danger btn-block" href="{{ url_for('.new') }}">捉到臭虫 / 提交意见或建议</a>
        {% else %}
            <a class="btn btn-primary btn-block" href="{{ url_for('.new') }}">水</a>
        {% endif %}

        <div class="row">
            {% for t in p.items %}
                <div class="topic-item border-std shadow col-xs-12">
                    <div class="col-xs-1">
                        <img class="img-m img-rounded" src="{{ t.user.avatar }}">
                    </div>

                    <div class="col-xs-10 topic-item-main">
                        <a class="topic-title en-break"
                           href="{{ url_for('.show', id=t.id) }}">{{ t.title }}</a>
                        <h4 style="float: right">
                            <span
                                class="label label-primary">{{ t.comments_num }}/{{ t.views }}</span>
                        </h4>
                        <div class="topic-info">
                            <div class="topic-info-item topic-info-board">
                        <span class="label label-default">
                            •&nbsp;<a href="{{ url_for('.board', nodename=t.board.name) }}"
                                      style="color: white">{{ t.board.show_name }}</a>
                        </span>
                            </div>

                            <div class="topic-info-item topic-info-author">
                                •&nbsp;<a
                                href="{{ url_for('user.profile', id=t.user.id) }}">{{ t.user.nickname }}</a>&nbsp;&nbsp;
                            </div>

                            <div class="topic-info-item topic-info-status">
                                {% if t.comments == [] %}
                                    •&nbsp;发布于&nbsp;
                                    <span class="timestamp">{{ t.created_time }}</span>&nbsp;&nbsp;
                                    暂无回复
                                {% else %}
                                    •&nbsp;最后回复&nbsp;<span
                                    class="timestamp">{{ t.comments[0].created_time }}</span>
                                    &nbsp;来自
                                    <a href="{{ url_for('user.profile', id=t.comments[0].user.id) }}">{{ t.comments[0].user.nickname }}</a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block fenye %}
    <nav style="text-align: center; display: block">
        <ul class="pagination">
            {% if p.has_prev %}
                <li><a href="{{ url_for('forum.board', nodename=node, page=p.prev_num) }}">&laquo;</a>
                </li>
            {% endif %}

            {% for i in range(1, p.pages+1) %}
                {% if i == p.page %}
                    <li class="disabled"><a>{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('forum.board',  nodename=node, page=i) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if p.has_next %}
                <li><a
                    href="{{ url_for('forum.board',  nodename=node, page=p.next_num ) }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock fenye %}

{% block script %}
    <script>
        longTimeAgo()
    </script>
{% endblock %}
