{% extends "base.html" %}

{% block title %}Simplue | 微博{% endblock %}

{% block import %}
    <link rel="stylesheet" href="/static/css/weibo.css">
    <script src="/static/js/weibo.js"></script>
{% endblock %}

{% block container %}
    <div class="container ">
        <div class="row ">
            <div class="col-xs-offset-1 col-xs-8">
                <div class="col-xs-12 billboard border-std shadow open">
                    <h3 class="text-center"><strong>公告栏</strong></h3>
                    <h4><strong>文明发言, 携手共创和谐社会.</strong></h4>
                    <h4>beta 版正式上线! </h4>
                    <div class="fuck-dj row" style="display: none">
                        <!--<div class="fuck-dj" >-->
                        <div class="center-block" style="width: auto">
                            <img class="img-rounded img-dancer"
                                 src="http://img.doutula.com/production/uploads/image/2016/05/29/20160529492788_IxVSPu.gif">
                            <img class="img-rounded img-dj"
                                 src="http://img.doutula.com/production/uploads/image/2016/04/06/20160406897522_pvuwAE.gif">
                            <img class="img-rounded img-dancer"
                                 src="http://img.doutula.com/production/uploads/image/2016/05/29/20160529492788_IxVSPu.gif">
                        </div>
                        <div>

                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                            <img class="img-shakehand img-rounded"
                                 src="http://img.doutula.com/production/uploads/image/2016/06/08/20160608363349_qolkpQ.gif">
                        </div>
                        <audio id="fuck-music"
                               src="http://oexqautw4.bkt.clouddn.com/static/img/if_im_dj.mp3"
                               loop></audio>
                    </div>
                    <a class="btn-fuck-dj btn btn-danger btn-block">呼叫DJ庆祝, 嘿喂狗!</a>

                </div>

                <div class="col-xs-12 wb-add border-std shadow">
                    <img class="img-bignews"
                         src="http://oexqautw4.bkt.clouddn.com/static/img/bignews.png">
                    <textarea class="form-control input-wb-new" maxlength="200" rows="3"
                              placeholder="3~200字, 不计首尾空格 "></textarea>
                    <button class="btn btn-primary  btn-wb-add btn-block disabled">奔走相告</button>
                </div>

                <div class="col-xs-12 wb-cells">
                    {% if top is none %}
                        <div></div>
                    {% else %}
                        <div class="wb-item col-xs-12 border-std shadow" data-id="{{ top.id }}">
                            <div class="wb-main row">
                                <div class="col-xs-1">
                                    <img class="img-rounded img-m" src="{{ top.user.avatar }}">
                                </div>
                                <div class="col-xs-10 wb-info">
                                    <div class=""><a
                                        href="{{ url_for('user.profile', id=top.user.id) }}">{{ top.user.nickname }}</a>
                                    </div>
                                    <span>发布于: </span><span
                                    class="timestamp">{{ top.created_time }}</span>
                                    <p class="wb-content en-break">{{ top.weibo }}</p>
                                </div>
                            </div>

                            <div class="wb-nav">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a href="#" class="btn-comment-show"> 评论 (<span
                                        class="comments_num">{{ top.comments_num }}</span>)</a></li>
                                    <li><a href="#" class="btn-wb-like">赞
                                        (<span>{{ top.like_nums }}</span>)</a>
                                    </li>
                                    {% if user.id == 1 %}
                                        <li><a href="#" class="btn-wb-update-show disabled">修改</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </div>

                            <div class="wb-update " style="display: none;">
                                <textarea class="form-control input-wb-update" minlength="3" maxlength="200"
                                          rows="3">{{ top.weibo }}</textarea>
                                <a href="#"
                                   class="btn-wb-update-submit btn btn-warning btn-block disabled">提
                                    交</a>
                            </div>

                            <div class="wb-comment " style="display: none;">

                                <div class="wb-comment-add">
                        <textarea class="form-control input-wb-comment" minlength="1" maxlength="100" rows="2"
                                  placeholder="100字以内"></textarea>
                                    <a class="btn btn-primary btn-wb-comment-add btn-block disabled">打倒管理员</a>
                                </div>
                                <div class="wb-comment-cells">

                                    {% for c in top.comments %}
                                        <div class="row wb-comment-item">
                                            <div class="col-xs-1">
                                                <a href="#"><img class="img-s img-rounded"
                                                                 src="{{ c.user.avatar }}"></a>
                                            </div>
                                            <div class="col-xs-10">
                                                <p class="en-break">
                                                    <a href="#">{{ c.user.nickname }}</a><span> : </span>{{ c.comment }}
                                                </p>
                                                <span class="timestamp">{{ c.created_time }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    {% endif %}

                </div>

                <div class="col-xs-12 wb-cells">
                    {% for w in p.items %}
                        <div class="wb-item col-xs-12 border-std shadow" data-id="{{ w.id }}">
                            <div class="wb-main row">
                                <div class="col-xs-1">
                                    <img class="img-rounded img-m" src="{{ w.user.avatar }}">
                                </div>
                                <div class="col-xs-10 wb-info">
                                    <div class=""><a
                                        href="{{ url_for('user.profile', id=w.user.id) }}">{{ w.user.nickname }}</a>
                                    </div>
                                    <span>发布于: </span><span
                                    class="timestamp">{{ w.created_time }}</span>
                                    <p class="wb-content en-break">{{ w.weibo }}</p>
                                </div>
                            </div>

                            <div class="wb-nav">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a href="#" class="btn-comment-show">评论 (<span
                                        class="comments_num">{{ w.comments_num }}</span>)</a></li>
                                    <li><a href="#" class="btn-wb-like">赞
                                        (<span>{{ w.like_nums }}</span>)</a></li>
                                    {% if user.id == 1 %}
                                        <li><a href="#" class="btn-wb-update-show disabled">修改</a>
                                        </li>
                                        <li><a href="#" class="btn-wb-delete">删除</a></li>
                                    {% elif user.id == w.user.id %}
                                        <li><a href="#" class="btn-wb-update-show disabled">修改</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="wb-update " style="display: none;">
                                <textarea class="form-control input-wb-update" minlength="3" maxlength="200"
                                          rows="3">{{ w.weibo }}</textarea>

                                <a href="#"
                                   class="btn-wb-update-submit btn btn-warning btn-block disabled">提
                                    交</a>
                            </div>

                            <div class="wb-comment " style="display: none;">

                                <div class="wb-comment-add">
                            <textarea class="form-control input-wb-comment" minlength="1" maxlength="100" rows="2"
                                      placeholder="100字以内"></textarea>
                                    <a class="btn btn-primary btn-wb-comment-add btn-block disabled">批判一番</a>
                                </div>

                                <div class="wb-comment-cells">

                                    {% for c in w.comments %}
                                        <div class="row wb-comment-item">
                                            <div class="col-xs-1">
                                                <a href="#"><img class="img-s img-rounded"
                                                                 src="{{ c.user.avatar }}"></a>
                                            </div>
                                            <div class="col-xs-10">
                                                <p class="en-break">
                                                    <a href="#">{{ c.user.nickname }}</a><span> : </span>{{ c.comment }}
                                                </p>
                                                <span class="timestamp">{{ c.created_time }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-xs-3 border-std shadow row"
                 style="padding:15px 0px 15px ; width: 240px">
                <div style="width: 80%; margin: 0 auto">
                    <img src="{{ user.avatar }}" class="img-rounded center-block img-xl">
                    <h3 class="text-center" style="font-weight: bold"> {{ user.nickname }}</h3>
                    <div class="center-block">
                        <p><img src="http://oexqautw4.bkt.clouddn.com/static/img/email.gif"
                                class="profile-icon">&nbsp;&nbsp;{{ user.email }}
                        </p>
                        <p><img src="http://oexqautw4.bkt.clouddn.com/static/img/wechat.gif"
                                class="profile-icon">&nbsp;&nbsp;{{ user.qq }}
                        </p>

                        {% if user.github is none %}
                            <img src="http://oexqautw4.bkt.clouddn.com/static/img/github.gif"
                                 class="profile-icon">
                        {% elif user.github.split('/') != [] %}
                            <img src="http://oexqautw4.bkt.clouddn.com/static/img/github.gif"
                                 class="profile-icon">&nbsp;
                            <a href="{{ user.github }}">{{ user.github.split('/')[-1] }}</a>
                        {% else %}
                            <img src="http://oexqautw4.bkt.clouddn.com/static/img/github.gif"
                                 class="profile-icon">
                        {% endif %}
                    </div>
                    <a href="{{ url_for('user.profile', id=user.id) }}"
                       class="btn btn-default btn-block"
                       style="padding: 6px 6px">编辑个人资料</a>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block fenye %}
    <nav style="text-align: center; display: block">
        <ul class="pagination">
            {% if p.has_prev %}
                <li><a href="{{ url_for('weibo.index', page=p.prev_num) }}">&laquo;</a></li>
            {% endif %}

            {% for i in range(1, p.pages + 1) %}
                {% if i == p.page %}
                    <li class="disabled"><a>{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('weibo.index', page=i) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if p.has_next %}
                <li><a href="{{ url_for('weibo.index', page=p.next_num ) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock fenye %}

